@charset "UTF-8"
/*===== NOTES ========

	last-updated: 2022.02.10

	+1: Element
	+2: Header Area
	+3: Navigation Area
	+4: Main Area
	+5: Footer Area
	+6: Media Query (max-width:768px)

====================*/
/* ====================================================
+1: Element
==================================================== */
 * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ====================================================
+2: Header Area
====================================================*/


/* ====================================================
+3: Navigation Area
==================================================== */



/* ====================================================
+4: Main Area
==================================================== */


/* ====================================================
+5: Footer Area
==================================================== */